<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="arrCookieRestorer" type="Envoy.ArrCookieRestorer.ArrCookieRestorerSection, Envoy.ArrCookieRestorer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=a9d8578d4e655717"/>
	</configSections>
	<arrCookieRestorer cookieName="arrCookie" queryStringName="arrQueryString" />
</configuration>